body {
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
}

.container {
  margin: 24px auto;
}

.card {
  padding: 24px;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px 0 rgba(14, 31, 53, 0.08), 
    0 1px 4px 0 rgba(14, 31, 53, 0.12);}

h1, .h1 {
  font-size: 30px;
}

/* *** ALERTS *** */
.alert {
  padding: 16px;
}

.alert-success {
  color: #15803d;
  border-color: #4ade80;
  background-color: #f0fdf4;
}

.alert-info {
  color: #0284c7;
  border-color: #38bdf8;
  background-color: #f0f9ff;
}

.alert-danger {
  color: #dc2626;
  border-color: #f87171;
  background-color: #fef2f2;
}

.alert-warning {
  color: #b45309;
  border-color: #fbbf24;
  background-color: #fffbeb;
}

/* *** INPUTS *** */
.form-control, .form-select {
  padding: 8px 12px;
  border-color: #d1d5db;
}

.form-control:focus, .form-select:focus {
  border-color: #fb923c;
  background-color: rgba(255, 247, 237, 0.25);
  box-shadow: none;
}

.form-control::placeholder, .form-select::placeholder {
  color: #9ca3af;
}

/* *** BUTTONS *** */
.btn {
  padding: 8px 24px;
}

.btn:focus {
  box-shadow: none;
  outline: auto;
}

.btn:disabled {
  background-color: #d1d5db;
}

.btn-primary {
  background-color: #fb923c;
  border: none;
}

.btn-primary:hover {
  background-color: #f97316;
}

.btn-primary:focus {
  background-color: #fb923c;
}

.btn-secondary {
  background-color: #db2777;
  border: none;
}

.btn-secondary:hover {
  background-color: #be185d;
}

.btn-secondary:focus {
  background-color: #db2777;
}

.btn-success {
  background-color: #4ade80;
  border: none;
}

.btn-success:hover {
  background-color: #16a34a;
}

.btn-success:focus {
  background-color: #4ade80;
}

.btn-danger {
  background-color: #dc2626;
  border: none;
}

.btn-danger:hover {
  background-color: #b91c1c;
}

.btn-danger:focus {
  background-color: #dc2626;
}

/* *** TABLES *** */
.table > :not(caption) > * > * {
  padding: 16px 24px;
}

thead th {
  border-color: #e4e4e4;
  font-weight: 600;
}

th {
  border-color: #e4e4e4;
  font-weight: 500;
}